<h1>Headless Sxa Layout</h1>
<head>
    <sc-placeholder name="headless-header"></sc-placeholder>
</head>

<main>
    <sc-placeholder name="headless-main"></sc-placeholder>
</main>

<footer>
    <sc-placeholder name="headless-footer"></sc-placeholder>
</footer>