@model Sitecore.AspNetCore.SDK.RenderingEngine.Integration.Tests.ViewModels.WithBoundSitecoreRouteViewModel

<p>Page title: @Model.PageTitle?.Value</p>
<p>Database name: @Model.DatabaseName</p>
<p>Item ID: @Model.SitecoreRoute?.ItemId</p>