@model Sitecore.AspNetCore.SDK.RenderingEngine.Integration.Tests.ViewModels.WithBoundSitecoreContextViewModel

<p>Page state: @Model.SitecoreContext?.PageState</p>
<p>Language: @Model.Language</p>
<p>The page is in edit mode: @Model.IsPageEditing</p>