@model Sitecore.AspNetCore.SDK.RenderingEngine.Integration.Tests.ComponentModels.Component5

<section class="component-5">
    <h1 asp-for="TestField"></h1>
    <div asp-for="EmptyField"></div>
    <p asp-for="NullValueField"></p>
    <span asp-for="MultiLineField"></span>
    <textarea asp-for="Date!.Value"></textarea>
</section>